<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@fortawesome/fontawesome-free/css/all.css"
    />

    <link rel="stylesheet" href="about.css" />
    <!-- SCRIPT -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </head>
  <body>
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <div class="nav-logo">
          <img src="/components/assests/logo.png" alt="logo" />
        </div>

        <button
          class="navbar-toggler bg-warning text-warning"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <div class="nav-logo">
              <img src="/components/assests/logo.png" alt="logo" />
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

          <div class="offcanvas-body justify-content-end">
            <ul class="navbar-nav gap-4 fw-medium">
              <li class="nav-item active">
                <a
                  class="nav-link text-black"
                  aria-current="page"
                  href="/components/Home/home.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-black"
                  href="/components/About/about.html"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/components/practice/practice.html">Price Areas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/components/Blog/blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/components/Contact/contact.html">Contact</a>
              </li>
              <button
                type="button"
                class="btn btn-warning text-uppercase text-black"
              >
                Request An appointment
              </button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START HERO BANNER -->
    <div class="banner-image w-100 vh-100 d-flex align-items-center">
      <div class="container">
        <div class="content text-start mt-4">
          <h1 class="text-white">Know more about the <br>No.1 Trusted Law Firm</h1>
          <p class="fs-4 text-white mt-4">
            Seeking legal assistance shouldn’t be worrying, intimidating or
            stressful in any way. But we understand that, sometimes, it can be.
            That’s why we place such a high value on the support and care we
            give to you. You’ll always find our solicitors and support staff
            friendly and approachable. It’s their job to make your legal process
            as easy, comfortable and smooth as possible.
          </p>
          <button
            type="button"
            class="btn btn-warning text-uppercase text-white mt-4"
          >
            Book appointment
          </button>
        </div>
      </div>
    </div>
    <!-- END HERO BANNER -->


    <!-- START ABOUT -->
    <div class="container">
      <div class="row about">
        <div class="col-md-6">
          <div class="line"></div>
          <div class="content mt-5">
            <h1 class="fw-bold">About Us</h1>
            <p class="fw-medium">No.1 Trusted Law Firm</p>
            <p>
              We are a modern multi-service law firm with branches in UK, USA
              and Canada proudly providing legal services to clients across.
              <br />
              <br />
              Our solicitors offer guidance and assist for a range of legal
              matters: from family law and employment law to immigration,
              housing disrepair, personal injury, medical negligence, industrial
              ailment and conveyancing. <br />
              <br />
              With a high degree of knowledge and legal know-how, we will guide
              you thru the process you need from starting to end.
            </p>
            <h5 class="fw-bold a-left">Best Legal Advice</h5>
            <p class="mt-4">We offer free legal advice at zero cost</p>
            <button
              type="button"
              class="btn btn-warning text-uppercase text-white mt-4"
            >
              tell us your case
            </button>
          </div>
        </div>
        <div class="col-md-6 px-md-5 mt-5 a-right">
          <div id="main-b">
            <div class="box"></div>
            <img
              class="img-fluid a-bg"
              src="/components/assests/law-about.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- END ABOUT -->

    <!-- AIMS -->
    <div class="container mt-5">
      <div class="aims justify-content-between">
        <div class="row">
          <div class="col-md text-center pb-4">
            <div class="card card-body bg-white cd border-0">
              <h3>Our Vision</h3>
              <p>
                Our vision is to become the leading provider of professional
                legal services across the globe.
              </p>
            </div>
          </div>
          <div class="col-md text-center pb-4">
            <div class="card card-body bg-white cd border-0">
              <h3>Our Mission</h3>
              <p>
                Our policy is to conduct our business in an honest and ethical
                manner, and to comply with all applicable anti-corruption
                legislation. We have a zero-tolerance approach to bribery and
                corruption and are committed to acting professionally and with
                integrity in all our business dealings and relationships
                wherever we operate.
              </p>
            </div>
          </div>
          <div class="col-md text-center pb-4">
            <div class="card card-body bg-white cd border-0">
              <h3>Core Values</h3>
              <p>
                We will always be:
                <br />
                Straight-forward
                <br />
                Client-focused
                <br />
                Dynamic
                <br />
                Positive
                <br />
                Passionate
                <br />
                Proud
                <br />
                Caring
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TESTIMONIAL -->
    <div class="bg-light mt-5">
      <div class="container">
        <div class="space text-light">.</div>
        <div class="lineInfo">
          <div class="line"></div>
        </div>
        <h2 class="text-center mt-4">What Our Clients Say</h2>
        <p class="text-center fs-5 fw-medium mt-4">
          Find out what previous clients said about our services
        </p>
        <div class="row">
          <div class="col-md">
            <div class="card-img text-center position-relative">
              <img
                class="img-fluid rounded-circle w-25"
                src="/components/assests/testimonial-1.jpg"
                alt=""
              />
            </div>
            <div class="text-center rounded-4 bg-white content-bg cd">
              <p class="content-details">
                I would highly recommend this company to all. I was looking to
                apply for probate for my late mother’s estate. This company were
                so efficient. Very, very friendly and professional.
              </p>
              <h5 class="customer">Terry, probate customer</h5>
              <p class="mt-4 fs-" style="color: rgba(248, 175, 40, 0.842)">
                Manchester
              </p>
            </div>
          </div>
          <div class="col-md">
            <div class="card-img text-center position-relative">
              <img
                class="img-fluid rounded-circle w-25"
                src="/components/assests/testimonial-2.jpg"
                alt=""
              />
            </div>
            <div class="text-center rounded-4 bg-white content-bg cd">
              <p class="content-details">
                I would highly recommend Rombouts House Law Firm. Very helpful
                and professional from start to end. Always available to answer
                any questions I had regarding my case. Many thanks to Ms Tahar
                Jefferson and Ms Sandra Morris. I would definitely use the
                company in the future.
              </p>
              <h5 class="customer">Macley Handerson (July 2020)</h5>
              <p class="mt-4 fs-" style="color: rgba(248, 175, 40, 0.842)">
                Manchester
              </p>
            </div>
          </div>
          <div class="col-md">
            <div class="card-img text-center position-relative">
              <img
                class="img-fluid rounded-circle w-25"
                src="/components/assests/testimonial-3.jpg"
                alt=""
              />
            </div>
            <div class="text-center rounded-4 bg-white content-bg cd mb-5">
              <p class="content-details">
                I’ve had several dealings with Rombouts House Law Firm over the
                last few months. They’ve gone above and beyond for me in most of
                my queries and cases, particularly their will and probate
                department. They’re fast acting, knowledgeable and keep you
                updated as well as responding quickly to emails.
              </p>
              <h5 class="customer">Kamil Adams</h5>
              <p class="mt-4 fs-" style="color: rgba(248, 175, 40, 0.842)">
                Manchester
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END TESTIMONIAL -->

    <!-- START APPOINT -->
    <div class="banner-image-2 d-flex align-items-center">
      <div class="container">
        <div class="content text-start mt-4 text-center">
          <div class="lineInfo">
            <div class="line"></div>
          </div>
          <h1 class="text-white">We Help Solve Your Legal Issues</h1>
          <p class="text-white mt-4">
            Are you thinking about getting legal advice? Would you like to find
            out more <br />
            about our services? You can send us an e-mail and our team of expert
            will <br />
            respond to you immediately.
          </p>
          <button
            type="button"
            class="btn btn-warning text-uppercase text-white mt-4"
          >
            Get appointment
          </button>
        </div>
      </div>
    </div>
    <!-- END APPOINTMENT -->

    <!-- START FOOTER -->
    <div class="" style="background-color: #323438">
      <div class="container">
        <footer class="py-3">
          <ul
            class="nav justify-content-center border-bottom pb-3 mb-3 h-footer"
          >
            <li class="nav-item">
              <a href="/components/practice/practice.html" class="nav-link px-2 text-white fw-medium">Home</a>
            </li>
            <li class="nav-item">
              <a
                href="/components/About/about.html"
                class="nav-link px-2 text-white fw-medium"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a href="/components/practice/practice.html" class="nav-link px-2 text-white fw-medium"
                >Practice Areas</a
              >
            </li>
            <li class="nav-item">
              <a href="/components/Blog/blog.html" class="nav-link px-2 text-white fw-medium">Blog</a>
            </li>
            <li class="nav-item">
              <a href="/components/Contact/contact.html" class="nav-link px-2 text-white fw-medium">Contact</a>
            </li>
          </ul>
          <p class="text-center text-white fw-medium">
            Copyright &copy; 2023 Rombouts House Law Firm || No.1 Trusted Law
            Firm
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
